/* ---------------------- */

/*        Portrait       */

/* --------------------- */

@media only screen and (max-width: 1023px) and (orientation: portrait) {

}

@media (max-width: 1200px) {
    body{font-size: 20px;}
}

@media (max-width: 992px) {
    body{font-size: 16px;}
}

@media (min-width: 768px) {
    body{font-size: 14px;}

    body::after {
        height: 120px;
        /* Set same as footer's height */
    }

    .footer {
        height: 120px;
    }

    .hust {
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
    }

    .tpl {
        margin-top: 5%;
        margin-left: 10%;
        width: 80%;
    }

    .newcastle {
        margin-top: 7%;
        margin-left: 15%;
        width: 60%;
    }

    .trustai {
        margin-top: 5%;
        margin-left: 15%;
        width: 70%;
    }

    .exeter {
        margin-top: 7%;
        margin-left: 25%;
        width: 50%;
    }

}

