/* ---------------------- */

/*        Portrait       */

/* --------------------- */

@media only screen and (max-width: 1023px) and (orientation: portrait) {

}

@media (max-width: 1200px) {
    body{font-size: 20px;}
}

@media (max-width: 992px) {
    body{font-size: 16px;}
}

@media (max-width: 768px) {
    body{font-size: 14px;}
}

@media (max-width: 576px) {
    body{font-size: 18px;}

    .title {
        margin-bottom: 5%;
    }
    
    .item img {
        width: 30%;
	    height: 30%;
	    margin-left:35%;
    }

    .hust {
        /* float: left; */
        margin-bottom:1%;
        margin-top:5%;
        margin-left: 28%;
        width: 50%;
    }
    
    .tpl {
        /* float: right; */
        margin-top:1%;
        margin-bottom:1%;
        margin-left: 30%;
        width: 40%;
    }
    
    .trustai {
        /* float: left; */
        margin-bottom:1%;
        margin-top:2%;
        margin-left: 32%;
        width:36%;
    }
    
    .exeter {
        /* float: right; */
        margin-top:2%;
        margin-bottom:1%;
        margin-left: 37%;
        width: 26%;
    }
}

