/* ------------------------- */

/*       Basic Setup         */

/* ------------------------- */

html, body {
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    height: 100%;
    width: 100%;
    background-color: #FFF;
}

body {
    position: relative;
    min-height: 100vh;
}

body::after {
    content: '';
    display: block;
    height: 120px;
    /* Set same as footer's height */
}

/* ------------------------- */

/* Reusable Components       */

/* ------------------------- */

/*  Headings */

h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    color: #000;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin: 10px;
}

h4 {
    font-size: 80%;
    letter-spacing: 1px;
    margin: 5px;
}

p {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

/* ------------------------- */

/*         Profile           */

/* ------------------------- */

.avatar {
    border-bottom: #333 solid 2px;
    padding-bottom: 0;
    padding-top: 1%;
    font-size: 120%;
}

.title {
    font-size: 1.0em;
}

.type {
    font-size: 1.0em;
}

.avatar div:first-child {
    text-align: left;
}

.avatar div:last-child {
    text-align: right;
    color: red;
}

.item{
    padding-top: 1%;
    padding-bottom: 1%;
}

.title {
    text-align: center;
    bottom: 0%;
}

.item img {
    /* position: absolute; */
    width: 40%;
    top: 1%;
    margin-left: 30%;
    margin-bottom: 3%;
    transition:transform 0.5s;
}

.text {
    /* position: absolute; */
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 13%;
    /* border: 1px solid #000; */
    color: black;
}

.sensor {
    visibility:hidden;
}

.wuhan{
    border-radius: 20%;
}

.item a:link, .item a:visited{
    text-decoration: none;
}

.item a.clear {
    clear: both;
}

.item img:hover{
    transform: scale(1.08);
}

.app {
    background-color: #F9F9F9;
}

/* .file{
    background-color: #F9F9F9;
} */

.tool{
    background-color: #F9F9F9;
}

/* .intern {
    background-color: #F9F9F9;
} */

.project{
    background-color: #F9F9F9;
}

/* .monitor {
    background-color: #F9F9F9;
} */

/* ------------------------- */

/*         Footer            */

/* ------------------------- */

.footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    height: 120px;
    background-color: #04021c/*#2d3436*/;
    color: #e0e0e0;
}

.hust {
    /* float: left; */
    margin-bottom:1%;
    margin-top:1%;
    margin-left: 25%;
    width: 80%;
}

.tpl {
    /* float: right; */
    margin-top:1%;
    margin-bottom:1%;
    margin-left: 22%;
    width: 56%;
}

.newcastle {
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
}

.soton {
    margin-top: 8%;
    margin-left: 30%;
    width: 60%;
}

.trustai {
    /* float: left; */
    margin-bottom:1%;
    margin-top:2%;
    margin-left: 22%;
    width: 56%;
}

.exeter {
    /* float: right; */
    margin-top:10%;
    margin-bottom:1%;
    margin-left: 30%;
    width: 40%;
}

.fas{
    cursor: pointer;
}

 